Data Structure-Sets

What is a set?

*Sets are Unorderd collection of element.

*No Duplicate element present with in the set.

*it can be mutable or modifiable.

*Set Theory operations are possible.

In [1]:
#Defining a set in python

my_set = {'A', 'B', 'C', 'D', 1, 'E', 2,4 }

In [2]:
my_set

{1, 2, 4, 'A', 'B', 'C', 'D', 'E'}

In [3]:
my_set = {'A', 'B', 'C', 'D', 1, 'E', 2, 4, 2 , 2}

In [4]:
my_set

{1, 2, 4, 'A', 'B', 'C', 'D', 'E'}

In [5]:
#defining a set from my list
my_list = ['A', 'B', 1, 2, 'B', 'A']
my_set_from_my_list = set(my_list)

In [6]:
my_set_from_my_list

{1, 2, 'A', 'B'}

In [9]:
#defining set from my tuple
my_tuple = ('A', 'B', 1, 2, 'B', 'A')
my_set_from_my_tuple = set(my_tuple)

In [10]:
my_set_from_my_tuple

{1, 2, 'A', 'B'}

In [11]:
my_set

{1, 2, 4, 'A', 'B', 'C', 'D', 'E'}

In [12]:
#add element to the set
my_set.add('O')

In [13]:
my_set

{1, 2, 4, 'A', 'B', 'C', 'D', 'E', 'O'}

#Delete the Element form the list

*discard - It will not through an error, if the element you want to remove is not present in the set.

*romove - It will through an error, if the element you want to remove is not present in the set.

In [14]:
my_set

{1, 2, 4, 'A', 'B', 'C', 'D', 'E', 'O'}

In [15]:
my_set.discard('X')

In [16]:
my_set.remove('X')

KeyError: 'X'

Difference between two sets (A-B)

In [17]:
#set1
my_set

{1, 2, 4, 'A', 'B', 'C', 'D', 'E', 'O'}

In [18]:
#set2
my_set_from_my_list

{1, 2, 'A', 'B'}

In [20]:
#difference of 2 sets
my_set.difference(my_set_from_my_list)

{4, 'C', 'D', 'E', 'O'}

In [21]:
#it will not update to result, if not stored in a variable
my_set

{1, 2, 4, 'A', 'B', 'C', 'D', 'E', 'O'}

In [22]:
my_set_from_my_list

{1, 2, 'A', 'B'}

In [23]:
#use the difference_update to store the result directly
my_set.difference_update(my_set_from_my_list)

In [24]:
#updated set
my_set

{4, 'C', 'D', 'E', 'O'}

Intersection of two sets

In [25]:
#set1
my_set = {1, 2, 4, 'A', 'B', 'C', 'D', 'E', 'O'}

In [26]:
#set2
my_set_from_my_list = {1, 2, 'A', 'B'}

In [27]:
#intersection of two sets
my_set.intersection(my_set_from_my_list)

{1, 2, 'A', 'B'}

In [28]:
# it will not update the results, if not stored in a variable
my_set

{1, 2, 4, 'A', 'B', 'C', 'D', 'E', 'O'}

In [33]:
# to update directly, use intersection_update
my_set.intersection_update(my_set_from_my_list)

In [34]:
#updated set
my_set

{1, 2, 'A', 'B'}

#Other operations on set
*isdisjoint
*issubset
*issuperset
*union

In [35]:
#Define three random sets
sample_set_1 = {'A', 'B', 'C', 'D', 'E', 'F'}
sample_set_2 = {'A', 'D', 'E'}
sample_set_3 = {'S', 'T', 'U'}

In [39]:
# check if 2 sets are disjoint sets
sample_set_1.isdisjoint(sample_set_2)

False

In [40]:
sample_set_1.isdisjoint(sample_set_3)

True

In [41]:
# Check if one sets is subset of another set
sample_set_1.issubset(sample_set_2)

False

In [45]:
sample_set_3.issubset(sample_set_1)

False

In [44]:
sample_set_2.issubset(sample_set_1)

True

In [46]:
#check if one set is superset of another
sample_set_1.issuperset(sample_set_2)

True

In [47]:
sample_set_1.issuperset(sample_set_3)

False

In [49]:
#Union of 2 sets
sample_set_1.union(sample_set_3)

{'A', 'B', 'C', 'D', 'E', 'F', 'S', 'T', 'U'}

In [50]:
# update a set with new values, it will add the values which are not present in the original set.
sample_set_1.update({'C', 'D', 'E', 'R', 'Z'})

In [51]:
sample_set_1

{'A', 'B', 'C', 'D', 'E', 'F', 'R', 'Z'}

In [52]:
#iterate the set

for element in sample_set_1:
    print(element)

C
D
F
R
B
E
Z
A